#!/bin/bash

# Create two accounts and fill in the blanks below
export BOT_USERNAME="botusername"
export BOT_PAPERKEY="paper key for botusername goes here"

export KSSH_USERNAME="clientusername"
export KSSH_PAPERKEY="paper key for clientusername goes here"

# Then create a team that that has subteams "teamname.ssh.staging", "teamname.ssh.prod", "teamname.ssh.root_everywhere"
# $BOT_USERNAME should be in all three teams but $KSSH_USERNAME should only be in staging and root_everywhere.
# Set SUBTEAM to "teamname" (not "teamname.ssh" or "teamname.ssh.xxx")
export SUBTEAM="teamname"
# And then create another subteam that both accounts share
export SUBTEAM_SECONDARY="dworken_int.ssh2"