#!/bin/bash

# Create two accounts and fill in the blanks below
export BOT_USERNAME="botusername"
export BOT_PAPERKEY="paper key for botusername goes here"

export KSSH_USERNAME="clientusername"
export KSSH_PAPERKEY="paper key for clientusername goes here"

# Then create two shared teams between them
export SUBTEAM="integration_team1.ssh"
export SUBTEAM_SECONDARY="integration_team1.ssh2"
