# List the subteams here separated by commas (eg "teamname.ssh.production,teamname.ssh.staging") that you
# wish to use to grant SSH access
TEAMS="teamname.ssh.staging,teamname.ssh.production,..."

# Login info for the chat bot
KEYBASE_USERNAME="username_of_ca_bot"
KEYBASE_PAPERKEY="paper key for the ca bot"
