#!/bin/bash

# Uncomment this line and fill it in if running in single environment mode
#export SSH_USER="root"
# Uncomment this line if running in multi-environment mode
#export MULTI_ENVIRONMENT_MODE=true

# If you want to run in single environment mode, set a single subteam here. If you want to run in multi-environment
# mode set multiple subteams here separated by commas (eg "teamname.ssh.prod,teamname.ssh.staging")
export SUBTEAMS="teamname.subteam_for_ssh"

# Login info for the chat bot
export KEYBASE_USERNAME="username_of_ca_bot"
export PAPERKEY="paper key for the ca bot"
