#!/bin/bash

# List the subteams here separated by commas (eg "teamname.ssh.prod,teamname.ssh.staging") that you
# wish to use to grant SSH access
export TEAMS="teamname.subteam_for_ssh"

# Login info for the chat bot
export KEYBASE_USERNAME="username_of_ca_bot"
export KEYBASE_PAPERKEY="paper key for the ca bot"

# See env.md for documentation on the below environment variables
export CA_KEY_LOCATION="/mnt/keybase-ca-key"
